@font-face {
  font-family: starjedi;
  src: url('../../assets/Starjedi.ttf');
}

/*button {
  color: #000;
  background-color: #fff;
  height: 40px;
  width: 100px;
  margin-right: 25px;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 1px;
  outline: none;
  cursor: pointer;
}*/

button.nav {
  height: 100px;
  width: 100px;
  color: #AAA;
  font-size: 14px;
  text-transform: uppercase;
  background: #222;
  line-height: 1rem;
  border: 1px solid rgba(119, 141, 142, 0.31);
  outline: none;
}

button.nav:visited {
  background-color: rgba(0,0,0,0.35);
}

button.nav:hover {
  background-color: rgba(0,0,0,0.25);
  border-bottom: 1px solid #358a8d;
  cursor: pointer;
}


.button-container {
  display: flex;
  justify-content: flex-end;
  height: 100px;
  align-items: flex-end;
  width: 50vw;
}

.fave-btn {
  display: flex;
  justify-content: center;
  margin-right: 20px;
}

.counter {
  margin-left: 3px;
}

.header-container {
  display: flex;
  width: 100vw;
  background: #222;
  border-bottom: 2px solid #358a8d;
}

.logo {
  display: flex;
  align-items: center;
  width: 50vw;
  color: #feda4a;
  margin-left: 50px;
  font-size: 62px;
  font-family: starjedi;
}
.people-icon {
  width: 35px;
  height: 35px;
  padding-top: 5px;
}

.header-people,
.header-planets,
.header-vehicles,
.header-favorites {
font-weight: lighter;
font-size: 10px;
margin: 0px;
}
