@font-face {
  font-family: starjedi;
  src: url('../../assets/Starjedi.ttf');
}

button {
  color: #000;
   background-color: #fff;
   height: 40px;
   width: 100px;
   margin-right: 25px;
   font-size: 16px;
   padding: 10px;
   border: none;
   border-radius: 1px;
   outline: none;
   cursor: pointer;
}

.button-container {
  display: flex;
  justify-content: flex-end;
  height: 100px;
  align-items: center;
  width: 50vw;
}

.fave-btn {
  display: flex;
}

.counter {
  margin-left: 3px;
}

.header-container {
  display: flex;
  width: 100vw;
}

.logo{
  display: flex;
  align-items: center;
  width: 50vw;
  color: #feda4a;
  margin-left: 50px;
  font-size: 70px;
  font-family: starjedi;
}
