
.movie-text {
  overflow: hidden;
}

.fade {
  position: relative;
  width: 100%;
  top: -50px;
  z-index: 1;
}

.star-wars {
  display: flex;
  justify-content: center;
  position: relative;
  max-height: 87vh;
  color: #feda4a;
  font-family: 'Pathway Gothic One', sans-serif;
  font-size: 34px;
  font-weight: 600;
  letter-spacing: 6px;
  line-height: 150%;
  perspective: 1000px;
}

.crawl {
  position: relative;
  animation: crawl 60s linear infinite;
}

.crawl > .title {
  font-size: 90%;
  text-align: left;
}

.crawl > .title h1 {
  margin: 0 0 100px;
  text-transform: uppercase;
}

@keyframes crawl {
	0% {
    top: 400px;
    transform: rotateX(20deg)  translateZ(0);
  }
	100% {
    top: -6000px;
    transform: rotateX(25deg) translateZ(-2500px);
  }
}
