 .App {
  background-image: url('https://i.ytimg.com/vi/JquobII5VjA/maxresdefault.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container {
  display: flex;
}

.loading-true {
  position: absolute;
  right: 34%;
  bottom: 37%;
  animation: loading-spin infinite 2s linear;
  height: 80px;
}
.loading-false {
  display: none;
}
@keyframes loading-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
