.card {
  width: 250px;
  background: #fff;
  opacity: 0.8;
  border-radius: 3px;
  padding: 0 5px 5px 20px;
  margin-bottom: 10px;
  height: 350px;
}

.normal-btn {
  background-color: transparent;
}

.pink-btn {
  background-color: red;
  transition: all 0.2s;
}

.normal-btn,
.pink-btn {
  float: right;
  height: 55px;
  width: 55px;
  border-radius: 100%;
}

.pink-btn:hover {
  transition: all 0.2s;
  height: 60px;
  width: 60px;
}

.fave {
  width: 35px;
  transition: 0.2s;
}
