.App {
  /*display: flex;
  justify-content: space-between;
  text-align: center;*/
  background-image: url('https://i.ytimg.com/vi/JquobII5VjA/maxresdefault.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.main-container {
  display: flex;
}


/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}*/
