.App {
  /*display: flex;
  justify-content: space-between;
  text-align: center;*/
  background-image: url('http://orig14.deviantart.net/7dc3/f/2012/187/1/4/simply_space__purple__by_thedeviantwizard-d567xfb.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}


/*.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}*/
