body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: url('http://orig14.deviantart.net/7dc3/f/2012/187/1/4/simply_space__purple__by_thedeviantwizard-d567xfb.png');
  background-repeat: no-repeat;
  background-size: cover;
}
